<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable mb-4 border-end-0">
        {%- if project.img -%}
        <div class="card-img border-0">
          {% include figure.html path=project.img alt="project thumbnail" %}
        </div>
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
        </div>
    </div>
  </a>
</div>

.card {
    border: none !important;
}
